NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://naveenprasath-p@localhost/dotly_one_id?host=/var/run/postgresql
JWT_SECRET=change-me
JWT_EXPIRES_IN=7d
JWT_ISSUER=dotly-backend
JWT_AUDIENCE=dotly-clients
CORS_ORIGINS=http://localhost:3001
REDIS_ENABLED=true
REDIS_URL=redis://localhost:6379
STORAGE_BUCKET=dotly-local
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
MAIL_FROM_EMAIL=
FRONTEND_VERIFICATION_URL_BASE=http://localhost:3001/verify-email
QR_BASE_URL=https://dotly.id/q
